<div class="tab notes" data-group="primary" data-tab="notes">
    <div class="flexcol">
        <div class="notes-text" style="flex: 1; display: block;">
            {{ editor content=data.details.flavorText target="data.details.flavorText" button=true editable=editable  }}
        </div>
    </div>
</div>
